@font-face {
    font-family: Fresh Fruit;
    src: url(./assets/fonts/Fruit.otf);
}

body {
    margin: 0;
    background: rgba(231, 212, 202, 0.5) url("./assets/images/beautiful-aerial-shot-modern-city-architecture-with-illuminated-tower-side.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-attachment: fixed;
    text-align: center;
    color: white;
    font-family: Quicksand;
    font-size: 1.25em;
    font-weight: 600;
}

.blender {
    position: absolute;
    right: 0;
    min-width: fit-content;
    
}

.blender img {
    min-width: 200px;
    width: 30vw;
}

.blender div {
    position: absolute;
    top: 250px;
    right: 200px;
    width: 50px; 
    height: 0;
    background-color: #f09029;
    animation: pour 2s linear forwards;
    z-index: -1;
    border-radius: 1em;
}

@keyframes pour {
    from {
        height: 0;
    }
    to {
        height: calc(100vh - 250px);
    }
}

.landing {
    width: 98vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.landing div {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2%;
    border-radius: 2em;
}

.landing a {
    color: rgb(123, 203, 230);
}

h1 {
    font-family: Gluten;
    font-size: 2em;
}

hr {
    margin-bottom: 50px;
}

.darker {
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 30px;
    padding: 10px 30px;
}